
.foot {
    margin-top: auto;    
    background-color: #2F3E46;
    color: #CAD2C5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
}

.foot ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.foot a {
    color: inherit;
    text-decoration: none;
}

.foot a:hover {
    color:#52796F;
}
